@import url(reset.css);
@import url(fonts.css);


h1{
    text-transform: uppercase;
    font-size: 60px;
    text-align: center;
    margin: 50px;

}
.portfolio {
    padding:120px 0 ;
background: url(../img/about-bg.jpg);

}

.content{
    max-width: 1150px;
    margin: 0 auto;
    color: white;
}
.portfolio__title {
    font-family: "Exo", sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 116.666667%; /* 70/60 */
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;

   
}

.portfolio__title::after {
	content: "";
    margin-top: 30px;
    margin-left:20%;
	max-width: 60%;
	height: 1px;
	display:block;
   background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(66, 255, 0, 1) 51%, rgba(36, 0, 255, 1) 100%);
 
}
.text {
    max-width: 990px;
    margin: 0 auto;
    font-family: "Exo", sans-serif;
    font-weight:400;
    font-size: 18px;
    line-height: 2.22;
    letter-spacing: -0.36px;
    text-align: center;
    color: #fff;
    text-transform: capitalize;
  }
    


.list {
    margin-top: 60px;
    
}
.list__li {
  
    
}
.list__li-items {
    display: inline-block;
    font-family: "Orbitron", sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-transform: capitalize;
    margin: 0 0 0 60px;

}

.list__li-items:after{
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(66, 255, 0, 1) 51%, rgba(36, 0, 255, 1) 100%);
    vertical-align: middle;
    margin: 0 0 0 60px;
 
}


.contacts {
    background-color:  #000001;
    padding: 80px 0;
}
.contacts-container {
    max-width: 960px;
    margin: 0 auto;
}
.contatcs-list {
    color: #ffffff;

}
.contacts-items {
    display: inline-block;
    margin-right: 80px;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.4px;
  text-transform: capitalize;
  font-family: "Exo", sans-serif;
  min-height:25px;
}

.contacts-items:last-child{
    margin: 0;
}
.contacts-items:first-child::before{
        content: "";
        vertical-align: middle;
  
        background: url("../img/icons/phone.png") 0 0 / 100% no-repeat;
        width: 20px;
        height: 20px;
        margin-right: 20px;
    }
    
    
    .contacts-items:nth-child(2)::before{
        content: "";
        background: url("../img/icons/geo.png") 0 0 /100% no-repeat;
        width: 15px; 
        height:20px;
        vertical-align: middle;
        margin-right: 20px;

    }

.contacts-items:last-child::before{
    content: "";
    background: url("../img/icons/list.png") 0 0 /100% no-repeat;
    width: 15px; 
    height:20px;
    vertical-align: middle;
    margin-right: 20px;
}


.krovato {
    max-width: 1070px;
    margin: 0 auto;
   
}
.krovato-title {
    font-family: 'Proxima Nova Lt';
    font-size: 40px;
    margin: 0 0 40px 0;
}
.krovato-image {
    margin: 0 0 40px 0;
}
.krovato-text  {
    font-family: 'Proxima Nova Rg';
    color: #2b2929;
    line-height: 1.88;
    font-size: 16px;
    margin: 0 0 40px 0;
}

.krovato-text p:not(:last-child){
    margin: 0 0 20px 0;
}
.krovato-text_subtitle {
    font-family: 'Proxima Nova Lt';
    font-size: 20px;
    color: #2b2929;
    line-height: 1.4;
    margin: 0 0 30px 0;
}
.krovato__text-footer {
    font-family: 'Proxima Nova Rg';
    color: #2b2929;
    line-height: 1.88;
    font-size: 16px;
    margin: 0 0 40px 0;
}

.krovato__text-footer p::before{
    content: url("../img/icons/Vector.png");
    vertical-align: middle;
    margin-right: 18px;
}

.krovato__text-footer p:not(:last-child){
    margin: 0 0 20px 0;
}
.conclusion {
    font-family: 'Proxima Nova Rg';
    color: #2b2929;
    line-height: 1.88;
    font-size: 16px;
}

.link, .link-2{
    text-align: center;
    margin: 25px ; 
 }

.play, .link-2 a{
background-color: aquamarine;
padding: 15px 50px;
font-size: 40px;
border-radius: 7px;

}

.play:hover, .link-2 a:hover{
    background-color: rgb(90, 121, 110);
}  

.play:active, .link-2 a:active{
    background-color: aquamarine;
}



